.variant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 10px;
    position: relative;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 5px #000;
    border-radius: 5px;
}

.variant img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.variant span {
    padding: 7px;
    line-height: 1.8;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    position: relative;
}