.frame {
    overflow: hidden;
    height: 100vh;
}

.bg-color {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

.roulette {
    overflow: hidden;
    position: relative;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    box-sizing: content-box;
    will-change: transform, opacity;
}

.roulette .container {
    display: flex;
    overflow: visible;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    will-change: transform;
}

.roulette-pointer {
    position: absolute;
    height: 100%;
    top: 0;
    border: 2px solid red;
}

.roulette-offset {
    flex-shrink: 0;
}

.roulette .container::after {
    content: "";
    display: block;
    width: 100px;
    flex-shrink: 0;
}

.roulette .background-image, .roulette .frame-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

.roulette .frame-image {
    z-index: 1;
}

.overflow-hider-left,
.overflow-hider-right {
    border: 0 solid transparent;
    position: absolute;
    overflow: hidden;
}

.overflow-hider-left {
    left: 0;
}

.overflow-hider-right {
    right: 0;
}

.overflow-hider-left img,
.overflow-hider-right img {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.overflow-hider-left img {
    left: 0;
}

.overflow-hider-right img {
    right: 0;
}

.overflow-hider-left div,
.overflow-hider-right div {
    border: 100vw solid;
}