.frame {
    overflow: hidden;
    height: 100vh;
}

.bg-color {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

.roulette {
    overflow: hidden;
    position: relative;
    transition-property: top;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    top: 100%;
    box-sizing: content-box;
}

.roulette .container {
    display: flex;
    overflow: visible;
    height: 100%;
    position: relative;
    transition-property: right;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.roulette-pointer {
    position: absolute;
    height: 100%;
    top: 0;
    width: 4px;
    background-color: red;
}

.roulette-offset {
    flex-shrink: 0;
}

.roulette .container::after {
    content: "";
    display: block;
    width: 100px;
    flex-shrink: 0;
}

.roulette .background-image, .roulette .frame-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

.roulette .frame-image {
    z-index: 1;
}