.tasks-tab-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.tasks-tab-card-container > * {
    margin-bottom: 28px !important;
}
.tasks-tab-card-container:before,
.tasks-tab-card-container:after {
    content: "";
    display: block;
    width: 30%;
    order: 1000;
}

.ant-card.ant-card-bordered {
    display: flex;
    flex-direction: column;
}

.ant-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.ant-card-body {
    padding: 10px 5px 5px;
    text-align: center;
}